.Auth {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Auth h1 {
  font-family: "Cera-Black", Arial, Helvetica, sans-serif;
  font-size: 4em;
  margin-bottom: 0.5em;
  color: var(--color-primary);
}

.Auth form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.Auth .two-col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.Auth .input-Container {
  width: 100%;
}

.Auth .errorText {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: rgba(221, 53, 53, 0.767);
  margin-left: 1em;
  max-height: 1.2em;
  min-height: 1.2em;
  padding: 0 10px;
  position: relative;
  top: 10px;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Auth .invisible {
  opacity: 0;
}

.Auth .customInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--color-primary);
  border-radius: 20em;
  padding: 1em 2em;
  margin-bottom: 1em;
  width: 100%;
}

.Auth .customInput svg {
  margin-right: 1em;
}

.Auth .errorInput {
  border: 2px solid rgba(221, 53, 53, 0.767);
}

.Auth .txtInput {
  border: none;
  font-size: 1em;
  outline: none;
  width: 100%;
}

.Auth button {
  margin-top: 2em;
  font-family: "Cera-Bold", Arial, Helvetica, sans-serif;
  color: white;
  background-color: var(--color-primary);
  font-size: 1.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em 3em;
  border-radius: 20em;
  border: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Auth button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Auth .checkboxContainer {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: centergit;
      -ms-flex-pack: centergit;
          justify-content: centergit;
  width: 80%;
}

.Auth .checkboxContainer div {
  font-family: "Gilroy-Light", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10%;
}

.Auth .checkboxContainer div p {
  margin-left: 1em;
}

.Auth .checkboxContainer .checkbox {
  margin-right: 1em;
}

.Auth .checkboxContainer p {
  font-family: "Gilroy-Medium", Arial, Helvetica, sans-serif;
}

.Auth .checkboxContainer span {
  font-weight: bold;
}

.Auth .login-signup-txt {
  display: none;
}

@media screen and (max-width: 485px) {
  .Auth form {
    width: 90%;
    height: 100%;
  }
  .Auth .checkboxContainer {
    width: 100%;
  }
  .Auth .errorText {
    font-size: 1em;
  }
  .Auth .login-signup-txt {
    font-family: "Gilroy-Light", Arial, Helvetica, sans-serif;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: block;
    margin-bottom: 2em;
    text-decoration: none;
    color: var(--color-primary);
  }
  .Auth .login-signup-txt span {
    font-weight: bold;
  }
}
/*# sourceMappingURL=style.css.map */