.Auth {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h1 {
    font-family: "Cera-Black", Arial, Helvetica, sans-serif;
    font-size: 4em;
    margin-bottom: 1em;
    color: var(--color-primary);
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }

  .two-col {
    width: 100%;
    display: flex;
    gap: 1em;
  }

  .input-Container {
    width: 100%;

    .errorText {
      width: fit-content;
      color: rgba(221, 53, 53, 0.767);
      margin-left: 1em;
      max-height: 1.2em;
      min-height: 1.2em;
      padding: 0 10px;
      position: relative;
      top: 10px;
      background-color: white;
      transition: all 0.2s ease-in-out;
    }

    .invisible {
      opacity: 0;
    }
  }

  .customInput {
    display: flex;
    align-items: center;
    border: 2px solid var(--color-primary);
    border-radius: 20em;
    padding: 1em 2em;
    margin-bottom: 1em;
    width: 100%;

    svg {
      margin-right: 1em;
    }
  }

  .txtInput {
    border: none;
    font-size: 1em;
    outline: none;
    width: 100%;
  }

  button {
    margin-top: 4em;
    font-family: "Cera-Bold", Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--color-primary);
    font-size: 1.2em;
    width: fit-content;
    padding: 1em 3em;
    border-radius: 20em;
    border: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .checkboxContainer {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: centergit;
    width: 80%;

    div {
      font-family: "Gilroy-Light", Arial, Helvetica, sans-serif;
      display: flex;
      align-items: center;
      margin-right: 10%;
    }
    .checkbox {
      margin-right: 1em;
    }

    p {
      font-family: "Gilroy-Medium", Arial, Helvetica, sans-serif;
    }

    span {
      font-weight: bold;
    }
  }
}
