.AuthForm {
  @include flex-col;
  align-items: center;
  width: 90%;
  gap: 1.5em;

  &__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5em;
  }

  &__response-txt {
    @include Body-Regular($color: $error);
  }
}

@media screen and (min-width: $desktopBreakpoint) {
  .AuthForm {
    width: 45%;

    &__row {
      gap: 0.5em;
    }
  }
}
