.Nav {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: $primaryColor1;
  padding: 1em;

  &__logo {
    display: none;
  }

  &__icon-container {
    padding: 0.5em 0.8em;
    border-bottom: 2px solid $primaryColor1;

    &--active {
      border-bottom: 2px solid $accent2;
    }
  }

  &__icons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
  }
  &__logo,
  &__icon {
    width: 1.6em;
    height: 1.6em;
    fill: white;
  }

  .popout {
    position: absolute;
    bottom: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: white;
    @include flex-col;
    padding: 2em 0;

    &__title {
      text-align: center;
      @include Title-Medium($color: $primaryColor1);
      margin-bottom: 1em;
      padding: 0 0.8em;
    }

    &__list {
      @include flex-col;
      gap: 0.5em;
    }
  }
}

@media screen and(min-width: $desktopBreakpoint) {
  .Nav {
    padding: 2em 0;
    width: 5%;
    height: 100%;
    @include flex-col;
    gap: 4em;
    align-items: center;

    &__icons {
      @include flex-col;
      gap: 0.5em;
      justify-content: flex-start;

      &--last {
        margin-top: auto;
      }
    }

    &__logo {
      display: block;
      width: 3em;
      height: 3em;
    }

    .popout {
      position: absolute;
      left: 5vw;
      top: 0;
      width: 12vw;
      height: 100vh;
    }
  }
}
