// ---------------- GILROY --------------

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("./gilroy/Gilroy-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("./gilroy/Gilroy-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./gilroy/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./gilroy/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("./gilroy/Gilroy-Regular.ttf") format("truetype");
}

// --------------------- CERA PRO --------------

@font-face {
  font-family: "Cera-Black";
  src: url("./Cera/Cera Pro Black.otf") format("opentype");
}

@font-face {
  font-family: "Cera-Bold";
  src: url("./Cera/Cera Pro Bold.otf") format("opentype");
}

@font-face {
  font-family: "Cera-Light";
  src: url("./Cera/Cera Pro Light.otf") format("opentype");
}

@font-face {
  font-family: "Cera-Medium";
  src: url("./Cera/Cera Pro Medium.otf") format("opentype");
}
