@import url(../../util/colors.css);
@import url(../../util/fonts/fonts.css);

.AuthAside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  width: 33%;
  background-color: var(--color-primary);

  h1 {
    font-size: 2.5em;
    font-family: "Cera-Black", Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
  }

  p {
    font-family: "Gilroy-Light", Arial, Helvetica, sans-serif;
    font-size: 1em;
    letter-spacing: 0.15em;
    margin-bottom: 4em;
  }

  button {
    color: white;
    background-color: #00000000;
    padding: 0.5em 2em;
    border-radius: 20em;
    border: 1px solid white;
    font-size: 1.5em;
    font-family: "Cera-Bold";
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
