.Input {
  width: 100%;
  &__title {
    display: inline-block;
    margin-left: 1em;
    @include Title-Regular($color: $primaryColor1);
  }

  &__label {
    display: flex;
    position: relative;
    align-items: center;
    background-color: $primaryColor2;
    border: 2px solid $offWhite;
    border-radius: 2em;
    padding: 0.5em;
    width: 100%;

    &--border {
      background-color: $invisible;
      border: 2px solid $primaryColor2;
    }

    &--error {
      border: 2px solid $error;
    }
  }

  &__textarea-label {
    display: flex;
    position: relative;
    align-items: center;
    background-color: $primaryColor2;
    border: 2px solid $offWhite;
    border-radius: 0.5em;
    padding: 1em 0.5em;
    width: 100%;

    &--border {
      background-color: $invisible;
      border: 2px solid $primaryColor2;
    }

    &--error {
      border: 2px solid $error;
    }
  }

  &__textarea,
  &__input {
    @include Body-light($color: white);
    background-color: $invisible;
    border: none;
    width: 100%;
    min-height: fit-content;
    margin-left: 1em;
    &::placeholder {
      @include Body-light($color: $offWhite);
    }

    &--border {
      color: $primaryColor1;
    }
  }

  &__input-icon {
    margin-left: 0.2em;
    fill: $offWhite;
    width: 1em;
    height: 1em;
  }
  &__label-error-txt,
  &__error-txt {
    position: absolute;
    top: -1em;
    left: 1em;
    background-color: $primaryColor2;
    padding: 0.2em 0.5em;
    @include Body-tiny-light($color: $error);
    letter-spacing: 0.1em;

    &--invisible {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__label-error-txt {
    background-color: $invisible;
    top: -2em;
    left: unset;
    right: 1em;
  }
}
