// ---------------- GILROY --------------

@font-face {
    font-family: "Gilroy-Heavy";
    src: url("../util/fonts/gilroy/Gilroy-Heavy.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Gilroy-Light";
    src: url("../util/fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Gilroy-Bold";
    src: url("../util/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Gilroy-Medium";
    src: url("../util/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Gilroy-Regular";
    src: url("../util/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  }
  
  // --------------------- CERA PRO --------------
  
  @font-face {
    font-family: "Cera-Black";
    src: url("../util/fonts/Cera/Cera\ Pro\ Black.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Cera-Bold";
    src: url("../util/fonts/Cera/Cera\ Pro\ Bold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Cera-Light";
    src: url("../util/fonts/Cera/Cera\ Pro\ Light.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Cera-Medium";
    src: url("../util/fonts/Cera/Cera\ Pro\ Medium.otf") format("opentype");
  }
  