$primaryColor0: #0a163052;
$primaryColor1: #142850;
$primaryColor2: #27496d;
$offWhite: #b1b1b1;
$accent1: #0c7b93;
$accent2: #00a8cc;
$shadow: rgba(black, 0.3);
$invisible: rgba(Black, 0);
$error: rgb(235, 67, 67);

$desktopBreakpoint: 1024px;
